.appbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 52, 101, 0.4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navSection {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 600px) {
  .appbar {
    padding: 0.8rem 1rem;
  }
  
  .navSection {
    gap: 1rem;
  }
} 